if PROSPECTOR_STATUS_SCREEN_CLASSIC

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
    select LV_USE_LABEL
    select LV_USE_BAR
    select LV_USE_FLEX
    select LV_USE_ROLLER
    select LV_COLOR_SCREEN_TRANSP

endif
